*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body{
    background-color: #F5F5F5;
    color: #0E0E0E;
}
/* Shared design */

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.btn1{
    padding: 17px 34px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.btn1:hover{
    background-color: #FFFFFF;
    color: #006A50;
    box-shadow: 0 8px 15px rgba(0, 106, 80, 0.3);
    transform: translateY(-3px);
    border: 2px solid #006A50;
}

.btn2{
    padding: 17px 34px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #5490F5;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.btn2:hover{
    background-color: #FFFFFF;
    color: #5490F5;
    box-shadow: 0 8px 15px rgba(120, 245, 237, 0.3);
    transform: translateY(-3px);
    border: 2px solid #5490F5;
}


.btn3{
    padding: 17px 34px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFC239;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.btn3:hover{
    background-color: #FFFFFF;
    color: #FFC239;
    box-shadow: 0 8px 15px rgba(213, 218, 110, 0.3);
    transform: translateY(-3px);
    border: 2px solid #FFC239;
}



.heading-text h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}

.heading-text p{
    font-size: 16px;
    line-height: 24px;
     margin-bottom: 32px;
}

/* Main Design */

/* Nav section */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo h2{
    padding: 31px 0;
    font-size: 32px;
    font-weight: bold;
}
nav .menu button{
    padding: 15px 30px;
    font-size: 18px;
    color: #006A50;
    border: 2px solid #006A50;
    font-weight: 600;
    border-radius: 5px;
    margin: 24px 0;
    cursor: pointer;
     transition: all 0.3s ease; 
}

nav .menu button:hover {
    background-color: #006A50;
    color: #ffffff;
    box-shadow: 0 8px 15px rgba(0, 106, 80, 0.3);
    transform: translateY(-3px);
}

/* Banner section */

.banner{
      background-color: #C6E4D6; 
      border-radius: 10px;
      display: flex;    
      padding: 117px 60px;    
}
.banner-text {
    width: 622px;
}

.banner-text p{
    font-size: 24px;
    margin-bottom: 16px;
}
.banner-text h1{
    font-size: 56px;
    margin-bottom: 24px;
    font-weight: bold;
}

/* Piller of bangladesh */

.piller-section{
    padding: 80px 0;
}

.piller-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.piller-item{
    padding: 24px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #bdc2c1;
}

.piller-item img{
    width: 64px;
    margin-bottom: 24px;
}

.piller-item h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.piller-item p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
.item1{
    background-color: #548ff539;
}
.item2{
    background-color: #09a15d4b;
}
.item3{
    background-color: #cff5544e;
}

.baniOfYou{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 30px 30px;
    margin-top: 30px;
    background-color: #ffffff;
    padding: 15px;
    background-color: #FFFFFF;
    border: 2px solid #8f8d8d57;
    border-radius: 10px;
}

.baniOfYou p{
    line-height: 24px;
    margin-bottom: 30px;
    padding: 30px;
  
}
.baniOfYou h2{
    font-size: 20px;
    line-height: 24px;
    margin-left: 30px;
}
.baniOfYou p{
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
}

/* Opinion table */

.opinion-table{
    margin-top: 30px;
    background-color: #ffffff;
    padding: 25px;
    background-color: #FFFFFF;
    border: 2px solid #8f8d8d57;
    border-radius: 10px;
}

.nav-table{
    background-color: #548ff553;
    padding: 25px;
}

.nav-table h3{
    font-size: 20px;
    font-weight: 600;
}

.table-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #928f8f53;
}
.table-content div h4{
    font-size: 16px;
}
select{
    background-color: #006a5091;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #7e797976;
    border-radius: 5px;
}

/* Recent news */
#recent{
    padding-top: 50px;
}

.news-card{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    margin-top: 30px;
}

.card-img img{
    border-radius: 10px;
}

.card-text h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.card-text p{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 24px;
}

.cardTwo{
    flex-direction: row-reverse;
}

/* Donate section */

#donate{
    padding-top: 30px;
}
.donate-container{
    text-align: center;
    padding: 20px 50px;
}
.donate-items{
    display: flex;
    justify-content:center;
    gap: 40px;
}

.donate-card{
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    transform: all 0.5s ease;
}
.donate-card:hover{
    background-color: #548ff583;
}

.donate-card h2{
    font-size: 40;
}

.donateForm{ 
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.donateForm input{
    padding: 25px;
    margin: 25px;
    width: 800px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #a59e9ea1;
}

/* Subscriber secton */

.sub-container{
    background-color: #344b7425;
    padding: 80px 0px;
    text-align: center;
    border-radius: 15px;
}
.sub-container h1, .sub-container p, .sub-container form{
    margin-bottom: 15px;
}
form{
    display: flex;
    justify-content: center;
}
form input{
    width: 500px;
    border-radius: 15px 0 0 15px;
}

.bt{
    border-radius: 0 15px 15px 0;
}

/* Footer */

.ft{
    text-align: center;
}
.text h2{
    margin: 30px 0px;
}

.icons img{
    margin: 5px;
}