*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jobapplication{
    width: 80%;
    padding: 30px 150px;
    margin: auto;
    background-color: #c0b8b8;
}

.jobapplication h1{
    font-size: 50px;
    color: #1f1d1d;
    margin: 20px 0px;
}

.jobapplication h1 span{
    font-size: 30px;
    color: #4d4a4a;
}

.name, .emailandJob, .cityandPin, .dateandcv{
    display: flex;
    gap: 50px;
}
label{
    font-size: 25px;
    font-weight: bold;
}
input, select{
    height: 60px;
    width: 430px;
    border: 2px solid #1f1d1d;
    border-radius: 5px;
    background-color: #ebdada;
    padding: 20px;
    margin: 10px 0px;
}
textarea{
    height: 200px;
    width: 100%;
    border: 2px solid #1f1d1d;
    border-radius: 5px;
    background-color: #ebdada;
    padding: 20px;
    margin: 10px 0px;
}
.submitBtn{
   padding: 5px;
    display: flex;
    justify-content: end;
}

button{
    font-size: 25px;
    padding: 10px 15px;
    background-color: #b01f1f;
    color: #c0b8b8;
}