*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1{
    background-image: url(../images/image1.png);
    min-height: 100%;

}

.pimg2{
    background-image: url(../images/image2.png);
    min-height: 100%;

}
.pimg3{
    background-image: url(../images/image3.png);
    min-height: 100%;

}

.pimg1, .pimg2 , .pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 3.6em;
   text-transform: uppercase;
}

.bgtext{
    color: #f2eaea;
    background-color: #666;
    padding: 20px 40px;
}

.textSection{
    text-align: center;
    padding: 40px 80px;
}
.textSection h2{
    padding: 30px 0px;
    font-size: 2em;
}